Repository jukrb0x/taskhorizon: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-prettier, frontend-eslint, frontend-stylelint, backend-prettier, backend-eslint, root-prettier

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
#
#
pre-push:
    exclude_tags:
        - disabled
    parallel: true
    commands:
        packages-audit:
            tags: security
            run: pnpm audit

pre-commit:
    exclude_tags:
        - disabled
    parallel: true
    commands:
        frontend-prettier:
            tags: frontend
            root: 'client/'
            glob: '*.{js,ts,jsx,tsx,scss,css,json,md,yml,yaml}'
            run: pnpm prettier --write {staged_files} && git add {staged_files}
        frontend-eslint:
            tags: frontend
            root: 'client/'
            glob: '*.{js,ts,jsx,tsx}'
            run: pnpm eslint --fix {staged_files} && git add {staged_files}
        frontend-stylelint:
            root: 'client/'
            tags: frontend
            glob: '*.{scss,css}'
            run: pnpm stylelint --fix {staged_files} && git add {staged_files}
        backend-prettier:
            root: 'server/'
            tags: backend
            glob: '*.{ts,js,json,md,yml,yaml}'
            run: pnpm prettier && git add {staged_files}
        backend-eslint:
            root: 'server/'
            tags: backend
            glob: '*.{ts,js}'
            run: pnpm test:lint:fix
        root-prettier:
            tags: root
            glob: '*.{js,ts,json,yml,yaml}'
            run: pnpm prettier --write {staged_files} && git add {staged_files}

commit-msg:
    scripts:
        'commitlint.sh':
            runner: bash

commit: # why not `pnpm commit`
    commands:
        commitzen:
            interactive: true
            run: pnpm run commit

fix: update vercel build command
  client/vercel.json
Due: frontend-prettier, root-prettier

fix: minor changes
  client/src/components/Settings/SettingsProfile.tsx
Due: frontend-prettier, frontend-eslint

chore: minor changes
  client/src/components/Settings/Settings.tsx
  client/src/components/Settings/SettingsProfile.tsx
Due: frontend-prettier, frontend-eslint

fix: test
  client/src/components/Settings/Settings.tsx
Due: frontend-prettier, frontend-eslint

fix: ttt
  client/src/components/Settings/Settings.tsx
Due: frontend-prettier, frontend-eslint

build: bump up version to `0.2.6`
  client/.env
  client/package.json
  client/src-tauri/Cargo.lock
  client/src-tauri/Cargo.toml
  client/src-tauri/tauri.conf.json
Due: frontend-prettier, root-prettier

chore: minor changes
  client/src/components/Settings/SettingsProfile.tsx
Due: frontend-prettier, frontend-eslint

fix(client): setEvent should not sync `completed`
  client/src/hooks/use-event.tsx
Due: frontend-prettier, frontend-eslint

refactor: decouple profile editor
  client/src/components/Settings/SettingsProfile.tsx
Due: frontend-prettier, frontend-eslint

wip: comments on file uploading
  server/src/Server.ts
  server/src/controllers/rest/UserController.ts
  server/src/services/UserService.ts
Due: backend-prettier, backend-eslint, root-prettier

feat: profile settings
  client/src/components/EventCard/EventCard.tsx
  client/src/components/Settings/Settings.tsx
  client/src/components/Settings/SettingsAbout.tsx
  client/src/components/Settings/SettingsProfile.tsx
  client/src/components/Settings/SettingsShortcuts.tsx
Due: frontend-prettier, frontend-eslint

fix: about card shouldn't shrink
  client/src/components/Settings/SettingsAbout.tsx
  client/src/components/Settings/SettingsShortcuts.tsx
Due: frontend-prettier, frontend-eslint

Create codeql.yml
  .github/workflows/codeql.yml
Due: root-prettier

docs: add warning
  README.md
Due: none

feat: tooltip for app sidebar
  client/src/components/AppShell/AppSider.tsx
Due: frontend-prettier, frontend-eslint

fix: bump `jsonwebtoken` to `9.0.0`
  pnpm-lock.yaml
  server/package.json
Due: backend-prettier, root-prettier

fix: update lockfile in monorepo
  package.json
  pnpm-lock.yaml
  server/pnpm-lock.yaml
Due: backend-prettier, root-prettier

feat: add icons
  client/src-tauri/icons/128x128@2x.png
  client/src-tauri/icons/32x32.png
  client/src-tauri/icons/Square107x107Logo.png
  client/src-tauri/icons/Square142x142Logo.png
  client/src-tauri/icons/Square150x150Logo.png
  client/src-tauri/icons/Square284x284Logo.png
  client/src-tauri/icons/Square30x30Logo.png
  client/src-tauri/icons/Square310x310Logo.png
  client/src-tauri/icons/Square44x44Logo.png
  client/src-tauri/icons/Square71x71Logo.png
  client/src-tauri/icons/Square89x89Logo.png
  client/src-tauri/icons/StoreLogo.png
  client/src-tauri/icons/icon.icns
  client/src-tauri/icons/icon.ico
  client/src-tauri/icons/icon.png
  docs/th_icon.png
  docs/th_icon.psd
  docs/th_icon_128x128.png
Due: none

docs: add icon
  README.md
Due: none

build: bump version to `v0.2.7`
  client/.env
  client/package.json
  client/src-tauri/Cargo.lock
  client/src-tauri/Cargo.toml
  client/src-tauri/tauri.conf.json
  client/src/assets/app_icon.png
  server/package.json
Due: frontend-prettier, backend-prettier, root-prettier

refactor: update about page
  client/src/components/Settings/SettingsAbout.tsx
Due: frontend-prettier, frontend-eslint

wip: docs
  README.md
Due: none

feat(prisma): dbml generator
  pnpm-lock.yaml
  server/package.json
  server/prisma/dbml/schema.dbml
  server/prisma/schema.prisma
Due: backend-prettier, root-prettier

fix: app sider tooltip hovering offset
  client/src/components/AppShell/AppSider.tsx
Due: frontend-prettier, frontend-eslint

wip: offline mode
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/hooks/user-user.tsx
  client/src/store/config-store.ts
Due: frontend-prettier, frontend-eslint, root-prettier

chore: code review
  client/src/hooks/use-todo.tsx
Due: frontend-prettier, frontend-eslint
