Repository jukrb0x/taskhorizon: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-prettier, frontend-eslint, frontend-stylelint, backend-prettier, backend-eslint, root-prettier

frontend-prettier:
  tags: frontend
  run: pnpm prettier --write {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend
  run: pnpm eslint --fix {staged_files} && git add {staged_files}

frontend-stylelint:
  tags: frontend
  run: pnpm stylelint --fix {staged_files} && git add {staged_files}

backend-prettier:
  tags: backend
  run: pnpm prettier && git add {staged_files}

backend-eslint:
  tags: backend
  run: pnpm test:lint:fix

root-prettier:
  tags: root
  run: pnpm prettier --write {staged_files} && git add {staged_files}

feat: login form validation
  client/src/components/Auth/Login.tsx
Due: frontend-prettier, frontend-eslint

feat(client): signup and validation
  client/src/apis/common.ts
  client/src/components/Auth/Signup.tsx
  server/src/controllers/rest/AuthController.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

feat: login and landing route
  client/src/apis/common.ts
  client/src/apis/http.tsx
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/Signup.tsx
  client/src/hooks/user-user.tsx
  client/src/pages/Landing/LandingLayout.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

fix(swr): login state
  client/src/apis/common.ts
  client/src/components/Auth/Login.tsx
  client/src/components/Calendar/BigCalendar.tsx
  client/src/hooks/user-user.tsx
  client/src/pages/Auth/index.tsx
  client/src/pages/Home/HomeLayout.tsx
  client/src/pages/Landing/LandingLayout.tsx
  client/src/pages/Playground/Playground.tsx
  client/src/routes/AppRoute.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

fix: login and logout route
  client/src/App.tsx
  client/src/apis/common.ts
  client/src/apis/http.tsx
  client/src/components/Auth/Login.tsx
  client/src/components/Settings/Profile.tsx
  client/src/hooks/user-user.tsx
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

fix: jwt, user auth
  client/src/apis/http.tsx
  client/src/components/Auth/Signup.tsx
  server/src/Server.ts
  server/src/config/jwt/index.ts
  server/src/controllers/rest/AuthController.ts
  server/src/protocols/JwtProtocol.ts
  server/src/services/UserService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

docs: update README
  README.md
Due: none

chore: rm lint-staged and redundant
  client/package.json
  pnpm-lock.yaml
  server/.husky/.gitignore
  server/.husky/post-commit
  server/.husky/pre-commit
  server/package.json
Due: frontend-prettier, backend-prettier, root-prettier

feat: bump `@mantine/*` version
  client/package.json
  pnpm-lock.yaml
Due: frontend-prettier, root-prettier

fix: optimize todo list
  client/src/components/Todo/TodoApp.tsx
  client/src/components/Todo/TodoItem.tsx
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint

feat: useEvent hook binding
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/EventCard/EventCard.tsx
  client/src/hooks/index.ts
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/store/event-store.ts
  client/src/store/todo-store.ts
Due: frontend-prettier, frontend-eslint, root-prettier

feat: useTodo binding
  client/.barrelsby.json
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/Todo/TodoApp.tsx
  client/src/components/Todo/TodoInput.tsx
  client/src/components/Todo/TodoItem.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/store/debug-store.ts
  client/src/store/event-store.ts
  client/src/store/index.ts
  client/src/store/todo-store.ts
Due: frontend-prettier, frontend-eslint, root-prettier

fix(TodoItem): sync state from store
  client/src/components/Todo/TodoItem.tsx
Due: frontend-prettier, frontend-eslint

fix: event desc? isEdit validation
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/EventCard/EventCard.tsx
  client/src/hooks/use-todo.tsx
  client/src/store/event-store.ts
  client/src/store/todo-store.ts
Due: frontend-prettier, frontend-eslint, root-prettier

fix: check todo only all linked events check
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/Todo/TodoItem.tsx
  client/src/hooks/use-event.tsx
Due: frontend-prettier, frontend-eslint

feat: remove event binding logic
  client/src/hooks/use-event.tsx
  client/src/store/todo-store.ts
Due: frontend-prettier, frontend-eslint, root-prettier

fix: set linked event binding
  client/src/hooks/use-event.tsx
Due: frontend-prettier, frontend-eslint

chore: docs
  client/src/hooks/use-event.tsx
Due: frontend-prettier, frontend-eslint

wip: show linked events from todo
  client/src/components/Todo/TodoItem.tsx
Due: frontend-prettier, frontend-eslint

feat: sorted linked events on TodoItem
  client/src/components/Resizer/Resizer.tsx
  client/src/components/Todo/TodoItem.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
Due: frontend-prettier, frontend-eslint

refactor: stylish calendar
  client/src/components/Calendar/styles/default/event.scss
  client/src/components/Calendar/styles/default/styles.scss
  client/src/components/Calendar/styles/default/time-column.scss
  client/src/components/Calendar/styles/default/time-grid.scss
  client/src/components/Calendar/styles/default/variables.scss
Due: frontend-prettier, frontend-stylelint

wip: profile settings modal component
  client/src/components/Settings/Profile.tsx
  client/src/pages/Auth/index.tsx
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint

refactor: styles changes
  client/src/components/Calendar/styles/default/event.scss
  client/src/components/Resizer/Resizer.tsx
Due: frontend-prettier, frontend-eslint, frontend-stylelint

fix: minor changes
  client/src/App.tsx
  client/src/components/Heros/WelcomeTitle.tsx
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint

fix: hide overflow scrollbar
  client/src/App.tsx
  client/src/index.scss
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint, frontend-stylelint

wip(calendar): custom tool bar
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/Calendar/components/CustomToolbar.tsx
Due: frontend-prettier, frontend-eslint

wip: apis
  client/src/apis/common.ts
  client/src/apis/todo.ts
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/Signup.tsx
  client/src/components/Todo/TodoInput.tsx
  client/src/hooks/use-resizer.tsx
  client/src/hooks/user-user.tsx
  client/src/pages/Home/HomeLayout.tsx
  client/src/store/todo-store.ts
  client/src/utils/clamp.ts
  client/src/utils/common.ts
  client/src/utils/math.ts
  client/src/utils/regex.ts
  server/src/config/jwt/index.ts
  server/src/controllers/rest/EventController.ts
  server/src/controllers/rest/TodoController.ts
  server/src/controllers/rest/UserController.ts
  server/src/controllers/rest/index.ts
  server/src/services/EventService.ts
  server/src/services/TodoService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

wip: todo apis
  client/src/apis/todo.ts
  server/src/controllers/rest/TodoController.ts
  server/src/services/TodoService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

wip: create todo api and todo category
  client/src/apis/event.ts
  client/src/apis/http.tsx
  client/src/apis/index.ts
  client/src/apis/todo.ts
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/Todo/TodoInput.tsx
  client/src/components/Todo/TodoItem.tsx
  client/src/components/index.ts
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/hooks/user-user.tsx
  client/src/pages/Home/HomeLayout.tsx
  client/src/store/todo-store.ts
  client/src/store/user-store.ts
  server/prisma/migrations/20221215112418_init/migration.sql
  server/prisma/migrations/20221215112924_init/migration.sql
  server/prisma/migrations/20221215115713_init/migration.sql
  server/prisma/schema.prisma
  server/prisma/seed.ts
  server/src/controllers/rest/EventController.ts
  server/src/controllers/rest/TodoController.ts
  server/src/models/TodoCategoryModel.ts
  server/src/models/TodoModel.ts
  server/src/models/UserModel.ts
  server/src/models/index.ts
  server/src/repositories/TodoCategoriesRepository.ts
  server/src/repositories/index.ts
  server/src/services/EventService.ts
  server/src/services/TodoService.ts
  server/src/services/UserService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

chore: mark todos
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
Due: frontend-prettier, frontend-eslint

feat: todo api - create and delete
  client/src/components/Todo/TodoItem.tsx
  server/src/controllers/rest/EventController.ts
  server/src/controllers/rest/TodoController.ts
  server/src/services/TodoService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

wip: get todo
  client/src/hooks/use-todo.tsx
  server/prisma/migrations/20221215133636_init/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/rest/TodoController.ts
  server/src/models/TodoCategoryModel.ts
  server/src/models/TodoModel.ts
  server/src/services/TodoService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

fix: better way to navigate
  client/src/apis/common.ts
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/Signup.tsx
  client/src/hooks/use-todo.tsx
  client/src/hooks/user-user.tsx
  client/src/pages/Auth/index.tsx
  client/src/pages/Home/HomeLayout.tsx
  client/src/pages/Landing/LandingLayout.tsx
  client/src/store/todo-store.ts
  server/src/controllers/rest/TodoController.ts
  server/src/services/TodoService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

fix: logout
  client/src/apis/common.ts
  client/src/apis/todo.ts
  client/src/hooks/use-todo.tsx
  client/src/hooks/user-user.tsx
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

fix: remove todos not in the server
  client/src/apis/auth.ts
  client/src/apis/index.ts
  client/src/hooks/use-todo.tsx
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

fix: category name is not unique
  server/prisma/migrations/20221215150544_init/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/rest/TodoController.ts
  server/src/interfaces/TodoInterface.ts
  server/src/services/TodoService.ts
  server/src/services/UserService.ts
Due: backend-prettier, backend-eslint, root-prettier

fix: wrong category name
  server/prisma/seed.ts
Due: backend-prettier, backend-eslint, root-prettier

wip(api): update todo
  client/src/apis/auth.ts
  client/src/apis/todo.ts
  client/src/hooks/use-todo.tsx
  server/src/controllers/rest/TodoController.ts
  server/src/services/TodoService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

feat: add event API wip
  client/src/apis/event.ts
  client/src/components/EventCard/EventCard.tsx
  client/src/components/Todo/TodoItem.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/store/event-store.ts
  client/src/store/todo-store.ts
  server/src/controllers/rest/EventController.ts
  server/src/interfaces/EventInterface.ts
  server/src/services/EventService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

wip: event update api
  client/src/apis/event.ts
  client/src/apis/todo.ts
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/EventCard/EventCard.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  server/src/controllers/rest/EventController.ts
  server/src/controllers/rest/TodoController.ts
  server/src/services/EventService.ts
  server/src/services/TodoService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

Path conditions:
  frontend-prettier: any of: *.{js,ts,jsx,tsx,scss,css,json,md,yml,yaml} and ^client/
  frontend-eslint: any of: *.{js,ts,jsx,tsx} and ^client/
  frontend-stylelint: any of: *.{scss,css} and ^client/
  backend-prettier: any of: *.{ts,js,json,md,yml,yaml} and ^server/
  backend-eslint: any of: *.{ts,js} and ^server/
  root-prettier: any of: *.{js,ts,json,yml,yaml}
