Repository jukrb0x/taskhorizon: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-prettier, frontend-eslint, frontend-stylelint, backend-prettier, backend-eslint, root-prettier

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
#
#
pre-push:
    exclude_tags:
        - disabled
    parallel: true
    commands:
        packages-audit:
            tags: security
            run: pnpm audit

pre-commit:
    exclude_tags:
        - disabled
    parallel: true
    commands:
        frontend-prettier:
            tags: frontend
            root: 'client/'
            glob: '*.{js,ts,jsx,tsx,scss,css,json,md,yml,yaml}'
            run: pnpm prettier --write {staged_files} && git add {staged_files}
        frontend-eslint:
            tags: frontend
            root: 'client/'
            glob: '*.{js,ts,jsx,tsx}'
            run: pnpm eslint --fix {staged_files} && git add {staged_files}
        frontend-stylelint:
            root: 'client/'
            tags: frontend
            glob: '*.{scss,css}'
            run: pnpm stylelint --fix {staged_files} && git add {staged_files}
        backend-prettier:
            root: 'server/'
            tags: backend
            glob: '*.{ts,js,json,md,yml,yaml}'
            run: pnpm prettier && git add {staged_files}
        backend-eslint:
            root: 'server/'
            tags: backend
            glob: '*.{ts,js}'
            run: pnpm test:lint:fix
        root-prettier:
            tags: root
            glob: '*.{js,ts,json,yml,yaml}'
            run: pnpm prettier --write {staged_files} && git add {staged_files}

commit-msg:
    scripts:
        'commitlint.sh':
            runner: bash

commit: # why not `pnpm commit`
    commands:
        commitzen:
            interactive: true
            run: pnpm run commit

wip: event service
  server/src/Server.ts
  server/src/controllers/rest/HelloWorldController.ts
  server/src/services/EventService.ts
Due: backend-prettier, backend-eslint, root-prettier

wip: `TodoService` and JWT session
  server/src/controllers/rest/HelloWorldController.ts
  server/src/services/EventService.ts
  server/src/services/TodoService.ts
Due: backend-prettier, backend-eslint, root-prettier

fix: service decorator `@Injectable`
  server/src/protocols/JwtProtocol.ts
  server/src/services/EventService.ts
  server/src/services/TodoService.ts
  server/src/services/UserService.ts
Due: backend-prettier, backend-eslint, root-prettier

chore: rm .idea for the root project
  .idea/.gitignore
  .idea/calitdone.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

chore: rename to taskhorizon
  client/index.html
  client/src-tauri/Cargo.lock
  client/src-tauri/Cargo.toml
  client/src-tauri/tauri.conf.json
Due: frontend-prettier, root-prettier

feat: login page
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/Register.tsx
  client/src/components/Auth/index.tsx
  client/src/components/Button/Button.tsx
  client/src/components/Heros/Welcome.tsx
  client/src/pages/Auth/index.tsx
  client/src/pages/Welcome/index.tsx
  client/src/routes/AppRoute.tsx
Due: frontend-prettier, frontend-eslint

feat: login and signup ui
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/Register.tsx
  client/src/components/Auth/Signup.tsx
  client/src/components/Auth/index.tsx
  client/src/pages/Auth/index.tsx
  client/src/pages/Welcome/index.tsx
  client/src/routes/AppRoute.tsx
Due: frontend-prettier, frontend-eslint

feat: home and auth UI
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/Signup.tsx
  client/src/components/Heros/CopyrightBar.tsx
  client/src/components/Heros/SocialIcons.tsx
  client/src/components/Heros/WelcomeTitle.tsx
  client/src/components/Heros/index.tsx
  client/src/pages/Auth/index.tsx
  client/src/pages/Welcome/index.tsx
Due: frontend-prettier, frontend-eslint

refactor: use BrowseRouter
  client/src/App.tsx
Due: frontend-prettier, frontend-eslint

feat: add `swr` and `axios`
  client/package.json
  pnpm-lock.yaml
Due: frontend-prettier, root-prettier

wip(server): jwt auth
  server/.barrelsby.json
  server/src/services/UserService.ts
Due: backend-prettier, backend-eslint, root-prettier

feat: profile settings ui
  client/src/components/Settings/Profile.tsx
  client/src/components/Settings/index.tsx
  client/src/components/Spacer/Spacer.tsx
  client/src/components/Spacer/index.tsx
  client/src/pages/Home/HomeLayout.tsx
  client/src/pages/Home/index.tsx
  client/src/routes/AppRoute.tsx
Due: frontend-prettier, frontend-eslint

docs: add temp logo
  README.md
Due: none

Update README.md
  README.md
Due: none

chore: relocate LICENSE
  LICENSE
Due: none

fix: smooth transition in auth layout
  client/src/pages/Auth/index.tsx
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint

feat: page opening transition
  client/src/components/Transition/OpeningTransition.tsx
  client/src/components/Transition/index.tsx
  client/src/pages/Auth/index.tsx
  client/src/pages/Welcome/index.tsx
Due: frontend-prettier, frontend-eslint

fix: vercel routing
  .prettierignore
  client/vercel.json
Due: frontend-prettier, root-prettier

build(client): bump version to 0.2.3
  client/package.json
  client/src-tauri/Cargo.lock
  client/src-tauri/Cargo.toml
  client/src-tauri/tauri.conf.json
  server/package.json
Due: frontend-prettier, backend-prettier, root-prettier

wip: profile
  client/src/components/Settings/Profile.tsx
Due: frontend-prettier, frontend-eslint

chore: rename
  client/src/pages/Landing/index.tsx
  client/src/routes/AppRoute.tsx
Due: frontend-prettier, frontend-eslint

wip(db): todo has category
  server/prisma/schema.prisma
Due: none

fix: sider offset
  client/src-tauri/tauri.conf.json
  client/src/pages/Auth/index.tsx
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

fix: event card transition more sensitive
  client/src/components/Calendar/styles/animation.scss
  client/src/components/EventCard/EventCard.tsx
  client/src/components/EventCard/index.tsx
Due: frontend-prettier, frontend-eslint, frontend-stylelint

refactor: cleanup structure
  client/src-tauri/tauri.conf.json
  client/src/components/Button/StylishButton.tsx
  client/src/components/Button/index.tsx
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/Calendar/index.tsx
  client/src/components/Resizer/Resizer.tsx
  client/src/components/Resizer/index.tsx
  client/src/components/Todo/TodoApp.tsx
  client/src/components/Todo/TodoInput.tsx
  client/src/components/Todo/TodoItem.tsx
  client/src/components/Todo/TodoList.tsx
  client/src/components/Todo/components/List.tsx
  client/src/components/Todo/components/index.tsx
  client/src/components/Todo/index.tsx
  client/src/pages/Home/HomeLayout.tsx
  client/src/pages/Landing/LandingLayout.tsx
  client/src/pages/Landing/index.tsx
  client/src/routes/AppRoute.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

fix: auth layout safari width fix
  client/src/pages/Auth/index.tsx
Due: frontend-prettier, frontend-eslint

docs: logo
  README.md
  docs/logo.png
Due: none

docs: hide title
  README.md
Due: none

docs: update
  README.md
Due: none

docs: updates
  README.md
  docs/prototyping.excalidraw
Due: none

wip: jwt
  pnpm-lock.yaml
  server/.env
  server/package.json
  server/src/controllers/rest/AuthController.ts
  server/src/services/UserService.ts
Due: backend-prettier, backend-eslint, root-prettier

feat: jwt backend service
  server/src/config/jwt/index.ts
  server/src/controllers/rest/AuthController.ts
  server/src/controllers/rest/HelloWorldController.ts
  server/src/decorators/JwtAuth.ts
  server/src/protocols/JwtProtocol.ts
  server/src/services/UserService.ts
Due: backend-prettier, backend-eslint, root-prettier

feat: use barrelsby
  client/.barrelsby.json
  client/package.json
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/Signup.tsx
  client/src/components/Auth/index.tsx
  client/src/components/Button/index.tsx
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/Calendar/index.tsx
  client/src/components/EventCard/EventCard.tsx
  client/src/components/EventCard/index.tsx
  client/src/components/Heros/CopyrightBar.tsx
  client/src/components/Heros/index.tsx
  client/src/components/Resizer/index.tsx
  client/src/components/Settings/Profile.tsx
  client/src/components/Settings/index.tsx
  client/src/components/Spacer/index.tsx
  client/src/components/Todo/TodoInput.tsx
  client/src/components/Todo/TodoList.tsx
  client/src/components/Todo/index.tsx
  client/src/components/Transition/index.tsx
  client/src/components/index.ts
  client/src/pages/Auth/index.tsx
  client/src/pages/Calendar/playground.tsx
  client/src/pages/Landing/LandingLayout.tsx
  client/src/routes/AppRoute.tsx
  pnpm-lock.yaml
Due: frontend-prettier, frontend-eslint, root-prettier

fix(client): overflow scroll
  client/index.html
  client/public/index.css
  client/src/components/Todo/TodoApp.tsx
  client/src/components/Todo/TodoInput.tsx
  client/src/hooks/use-resizer.tsx
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint, frontend-stylelint

fix: minor changes
  client/index.html
Due: none

wip: login
  client/.barrelsby.json
  client/.env
  client/package.json
  client/public/876-536x354.jpg
  client/src/App.tsx
  client/src/apis/http.tsx
  client/src/apis/index.ts
  client/src/components/Settings/Profile.tsx
  client/src/hooks/index.ts
  client/src/hooks/user-user.tsx
  client/src/store/user-store.ts
  client/vite.config.ts
  pnpm-lock.yaml
  server/src/controllers/rest/AuthController.ts
  server/src/protocols/BasicProtocol.ts
  server/src/services/UserService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

wip(client): login
  client/src/apis/common.ts
  client/src/apis/index.ts
  client/src/components/Auth/Login.tsx
  client/src/components/Settings/Profile.tsx
  client/src/hooks/user-user.tsx
  client/src/store/user-store.ts
  server/src/services/UserService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

feat: login form and api
  client/package.json
  client/src/apis/http.tsx
  client/src/components/Auth/Login.tsx
  client/src/utils/common-regex.ts
  pnpm-lock.yaml
  server/src/controllers/rest/AuthController.ts
  server/src/services/UserService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier
