Repository jukrb0x/taskhorizon: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-prettier, frontend-eslint, frontend-stylelint, backend-prettier, backend-eslint, root-prettier

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
#
#
pre-push:
    exclude_tags:
        - disabled
    parallel: true
    commands:
        packages-audit:
            tags: security
            run: pnpm audit

pre-commit:
    exclude_tags:
        - disabled
    parallel: true
    commands:
        frontend-prettier:
            tags: frontend
            root: 'client/'
            glob: '*.{js,ts,jsx,tsx,scss,css,json,md,yml,yaml}'
            run: pnpm prettier --write {staged_files} && git add {staged_files}
        frontend-eslint:
            tags: frontend
            root: 'client/'
            glob: '*.{js,ts,jsx,tsx}'
            run: pnpm eslint --fix {staged_files} && git add {staged_files}
        frontend-stylelint:
            root: 'client/'
            tags: frontend
            glob: '*.{scss,css}'
            run: pnpm stylelint --fix {staged_files} && git add {staged_files}
        backend-prettier:
            root: 'server/'
            tags: backend
            glob: '*.{ts,js,json,md,yml,yaml}'
            run: pnpm prettier && git add {staged_files}
        backend-eslint:
            root: 'server/'
            tags: backend
            glob: '*.{ts,js}'
            run: pnpm test:lint:fix
        root-prettier:
            tags: root
            glob: '*.{js,ts,json,yml,yaml}'
            run: pnpm prettier --write {staged_files} && git add {staged_files}

commit-msg:
    scripts:
        'commitlint.sh':
            runner: bash

commit: # why not `pnpm commit`
    commands:
        commitzen:
            interactive: true
            run: pnpm run commit

fix: event update api `Date`
  client/src/hooks/use-event.tsx
Due: frontend-prettier, frontend-eslint

fix: api behaviour should client-first
  client/src/components/EventCard/EventCard.tsx
  client/src/components/Todo/TodoApp.tsx
  client/src/components/Todo/TodoInput.tsx
  client/src/components/Todo/TodoItem.tsx
  client/src/components/Todo/TodoList.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  server/src/interfaces/EventInterface.ts
  server/src/interfaces/TodoInterface.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

fix: event api
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/Todo/TodoInput.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/store/event-store.ts
  client/src/store/todo-store.ts
  server/src/interfaces/TodoInterface.ts
  server/src/services/TodoService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

wip: remake frontend apis interface
  client/src/apis/auth.ts
  client/src/apis/event.ts
  client/src/components/Auth/Login.tsx
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/Todo/TodoItem.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/hooks/user-user.tsx
  server/src/controllers/rest/EventController.ts
  server/src/interfaces/EventInterface.ts
  server/src/services/EventService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

fix: type of uuid
  server/src/controllers/rest/EventController.ts
Due: backend-prettier, backend-eslint, root-prettier

refactor: event card style and drop shadow
  client/src/components/EventCard/EventCard.tsx
Due: frontend-prettier, frontend-eslint

refactor: rewrite swr with backend apis wrapper
  client/src/components/Calendar/BigCalendar.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/utils/common.ts
Due: frontend-prettier, frontend-eslint, root-prettier

refactor: apis regression
  client/src/apis/todo.ts
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/EventCard/EventCard.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/hooks/user-user.tsx
  client/src/store/todo-store.ts
  server/prisma/schema.prisma
  server/prisma/seed.ts
  server/src/controllers/rest/EventController.ts
  server/src/controllers/rest/TodoController.ts
  server/src/interfaces/TodoInterface.ts
  server/src/models/EventModel.ts
  server/src/models/TodoModel.ts
  server/src/services/EventService.ts
  server/src/services/TodoService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

refactor: delete events api logic
  client/src/apis/event.ts
  client/src/hooks/use-event.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

docs: add apis memo
  client/src/apis/README.md
Due: frontend-prettier

feat: batch remove events
  client/src/apis/event.ts
  client/src/apis/index.ts
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/store/event-store.ts
  server/src/controllers/rest/EventController.ts
  server/src/services/EventService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

docs: batch removal memo
  client/src/hooks/use-todo.tsx
Due: frontend-prettier, frontend-eslint

fix(api): toggle todo state sync
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
Due: frontend-prettier, frontend-eslint

fix: minor changes
  client/src/components/EventCard/EventCard.tsx
Due: frontend-prettier, frontend-eslint

docs: update bg
  docs/background-demo.jpg
Due: none

docs: updates
  docs/Roadmap.md
Due: none

fix: login state navigation when token is invalid
  client/src/apis/auth.ts
  client/src/components/Calendar/styles/default/variables.scss
  client/src/hooks/use-todo.tsx
  client/src/hooks/user-user.tsx
  client/src/pages/Auth/index.tsx
  client/src/pages/Home/HomeLayout.tsx
  client/src/pages/Landing/LandingLayout.tsx
Due: frontend-prettier, frontend-eslint, frontend-stylelint, root-prettier

fix: drop and resize isEdit issue
  client/src/components/Calendar/BigCalendar.tsx
Due: frontend-prettier, frontend-eslint

wip: app shell and custom calendar toolbar
  client/src/App.tsx
  client/src/apis/event.ts
  client/src/components/AppShell/AppSider.tsx
  client/src/components/Calendar/components/CustomToolbar.tsx
  client/src/components/Calendar/styles/default/time-grid.scss
  client/src/components/Resizer/Resizer.tsx
  client/src/components/Todo/TodoApp.tsx
  client/src/components/Todo/TodoInput.tsx
  client/src/components/Todo/TodoItem.tsx
  client/src/components/index.ts
  client/src/hooks/use-event.tsx
  client/src/hooks/use-resizer.tsx
  client/src/hooks/use-todo.tsx
  client/src/pages/Home/HomeLayout.tsx
  client/src/store/config-store.ts
Due: frontend-prettier, frontend-eslint, frontend-stylelint, root-prettier

fix: data consistency in server
  server/prisma/migrations/20221218105514_init/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/rest/EventController.ts
  server/src/services/EventService.ts
  server/src/services/TodoService.ts
Due: backend-prettier, backend-eslint, root-prettier

fix: calendar styles
  client/src/components/AppShell/AppSider.tsx
  client/src/components/Calendar/BigCalendar.tsx
  client/src/components/Calendar/components/CustomToolbar.tsx
  client/src/components/Calendar/styles/default/dragAndDrop.scss
  client/src/components/Calendar/styles/default/time-column.scss
  client/src/components/Calendar/styles/default/variables.scss
  client/src/components/Todo/TodoApp.tsx
  client/src/components/Todo/TodoInput.tsx
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint, frontend-stylelint

fix: showing the linked events
  client/src/components/Todo/TodoItem.tsx
Due: frontend-prettier, frontend-eslint

feat: app shell sider bar
  client/.env
  client/src/apis/auth.ts
  client/src/components/AppShell/AppSider.tsx
  client/src/components/Calendar/components/CustomToolbar.tsx
  client/src/components/Todo/TodoApp.tsx
  client/src/pages/Home/HomeLayout.tsx
  client/src/pages/Landing/LandingLayout.tsx
  client/src/store/config-store.ts
Due: frontend-prettier, frontend-eslint, root-prettier

wip: settings
  client/src/components/Settings/Profile.tsx
  client/src/components/Settings/SettingNav.tsx
  client/src/components/Settings/Settings.tsx
  client/src/components/index.ts
  client/src/pages/Auth/index.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

fix: font size
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint

wip: settings
  client/src/components/AppShell/AppSider.tsx
  client/src/components/Calendar/components/CustomToolbar.tsx
  client/src/components/EventCard/EventCard.tsx
  client/src/components/Settings/SettingNav.tsx
  client/src/components/Settings/Settings.tsx
Due: frontend-prettier, frontend-eslint

wip: settings
  client/src/components/Settings/SettingNav.tsx
  client/src/components/Settings/Settings.tsx
Due: frontend-prettier, frontend-eslint

wip: updates
  client/src/components/AppShell/AppSider.tsx
Due: frontend-prettier, frontend-eslint

feat: fixed header for all day event
  client/src/components/Calendar/styles/default/time-column.scss
  client/src/components/Calendar/styles/default/time-grid.scss
Due: frontend-prettier, frontend-stylelint

fix: app sider color
  client/src/components/AppShell/AppSider.tsx
Due: frontend-prettier, frontend-eslint

fix: settings zIndex shouldn't hide notification
  client/src/components/Settings/SettingNav.tsx
  client/src/components/Settings/Settings.tsx
Due: frontend-prettier, frontend-eslint

fix: autoFocus in auth page
  client/src/components/Auth/Login.tsx
  client/src/components/Auth/Signup.tsx
Due: frontend-prettier, frontend-eslint

wip: settings page
  client/src/components/Settings/Settings.tsx
Due: frontend-prettier, frontend-eslint

fix: visual minor changes
  client/src/components/Settings/Settings.tsx
Due: frontend-prettier, frontend-eslint

fix: minor changes
  client/src/components/Settings/SettingNav.tsx
Due: frontend-prettier, frontend-eslint

wip: add settings components
  client/.prettierrc.js
  client/package.json
  client/src/components/Settings/About.tsx
  client/src/components/Settings/Profile.tsx
  client/src/components/Settings/SettingNav.tsx
  client/src/components/index.ts
  pnpm-lock.yaml
Due: frontend-prettier, frontend-eslint, root-prettier

chore: test prettier import order
  client/src/pages/Auth/index.tsx
Due: frontend-prettier, frontend-eslint

refactor: export using const
  client/src/apis/auth.ts
  client/src/apis/event.ts
  client/src/apis/todo.ts
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

fix: barrels for `utils/`
  client/.barrelsby.json
  client/src/store/todo-store.ts
  client/src/utils/index.ts
  client/src/utils/uuid.ts
Due: frontend-prettier, frontend-eslint, root-prettier

wip: server atomic mutation
  server/prisma/migrations/20221219131816_init/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/rest/TodoController.ts
  server/src/services/EventService.ts
  server/src/services/TodoService.ts
  server/src/services/UserService.ts
  server/src/utils/regex.ts
  server/src/utils/uuid.ts
Due: backend-prettier, backend-eslint, root-prettier
