Repository jukrb0x/taskhorizon: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-prettier, frontend-eslint, frontend-stylelint, backend-prettier, backend-eslint, root-prettier

frontend-prettier:
  tags: frontend
  run: pnpm prettier --write {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend
  run: pnpm eslint --fix {staged_files} && git add {staged_files}

frontend-stylelint:
  tags: frontend
  run: pnpm stylelint --fix {staged_files} && git add {staged_files}

backend-prettier:
  tags: backend
  run: pnpm prettier && git add {staged_files}

backend-eslint:
  tags: backend
  run: pnpm test:lint:fix

root-prettier:
  tags: root
  run: pnpm prettier --write {staged_files} && git add {staged_files}

refactor(backend): services return models only
  server/src/controllers/rest/EventController.ts
  server/src/controllers/rest/TodoController.ts
  server/src/services/EventService.ts
  server/src/services/TodoService.ts
Due: backend-prettier, backend-eslint, root-prettier

feat: todo add and toggle atomic
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  server/src/controllers/rest/TodoController.ts
  server/src/services/EventService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

wip: atomic setTodo
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
Due: frontend-prettier, frontend-eslint

wip: atomic service
  client/src/apis/event.ts
  client/src/hooks/use-event.tsx
  server/src/controllers/rest/EventController.ts
  server/src/services/EventService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

wip: refactoring
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/store/event-store.ts
Due: frontend-prettier, frontend-eslint, root-prettier

fix: atomic add linked event
  client/src/components/Calendar/BigCalendar.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
Due: frontend-prettier, frontend-eslint

fix: toggle event atomic action
  client/src/hooks/use-event.tsx
  client/src/store/event-store.ts
  server/src/controllers/rest/EventController.ts
  server/src/controllers/rest/TodoController.ts
  server/src/services/EventService.ts
  server/src/services/TodoService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

fix: minor changes
  client/src/hooks/use-event.tsx
Due: frontend-prettier, frontend-eslint

feat: atomic actions
  client/src/components/Todo/TodoItem.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  server/prisma/schema.prisma
  server/src/services/EventService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

fix: atomic client bugs
  client/src/apis/event.ts
  client/src/apis/todo.ts
  client/src/components/Auth/Signup.tsx
  client/src/hooks/use-event.tsx
  server/src/controllers/rest/EventController.ts
  server/src/controllers/rest/HelloWorldController.ts
  server/src/controllers/rest/UserController.ts
  server/src/services/EventService.ts
Due: frontend-prettier, frontend-eslint, backend-prettier, backend-eslint, root-prettier

fix: prevent backspace from navigating back
  client/src/App.tsx
Due: frontend-prettier, frontend-eslint

fix: event transition duration to 200
  client/src/components/Calendar/styles/default/time-column.scss
Due: frontend-prettier, frontend-stylelint

fix: todo item linked event number atomic sync
  client/src/components/Todo/TodoItem.tsx
Due: frontend-prettier, frontend-eslint

fix: minor changes
  client/src/components/Todo/TodoItem.tsx
Due: frontend-prettier, frontend-eslint

fix(api): remove `GET` to delete data
  server/src/controllers/rest/EventController.ts
  server/src/controllers/rest/TodoController.ts
Due: backend-prettier, backend-eslint, root-prettier

build: bump app version to `0.2.5`
  client/.env
  client/package.json
  client/src-tauri/Cargo.lock
  client/src-tauri/Cargo.toml
  client/src-tauri/tauri.conf.json
  server/package.json
Due: frontend-prettier, backend-prettier, root-prettier

fix: safer way to determine linked events
  client/src/components/Todo/TodoItem.tsx
Due: frontend-prettier, frontend-eslint

refactor: settings open in global state
  client/src/components/AppShell/AppSider.tsx
  client/src/hooks/use-resizer.tsx
  client/src/pages/Home/HomeLayout.tsx
  client/src/store/config-store.ts
Due: frontend-prettier, frontend-eslint, root-prettier

build: bump tauri to `1.2.2`
  client/package.json
  client/src-tauri/Cargo.lock
  client/src-tauri/Cargo.toml
  pnpm-lock.yaml
Due: frontend-prettier, root-prettier

wip: settings page
  client/src/components/Settings/About.tsx
  client/src/components/Settings/Profile.tsx
  client/src/components/Settings/SettingNav.tsx
  client/src/components/Settings/Settings.tsx
  client/src/pages/Home/HomeLayout.tsx
  client/src/pages/Landing/LandingLayout.tsx
  client/src/pages/Playground/Playground.tsx
Due: frontend-prettier, frontend-eslint

fix: vite react full hot reload
  client/src/components/Settings/Settings.tsx
  client/vite.config.ts
Due: frontend-prettier, frontend-eslint, root-prettier

fix: vite full hot reload 118a462e
  client/src/components/Settings/SettingsAbout.tsx
  client/src/components/Settings/SettingsProfile.tsx
  client/src/components/index.ts
  client/vite.config.ts
Due: frontend-prettier, frontend-eslint, root-prettier

wip: settings hover menu
  client/src/components/AppShell/AppSider.tsx
Due: frontend-prettier, frontend-eslint

feat: extension for opening link in Tauri
  client/.env
  client/src-tauri/tauri.conf.json
  client/src/App.tsx
  client/src/components/AppShell/AppSider.tsx
  client/src/components/Auth/Login.tsx
  client/src/components/Settings/SettingsAbout.tsx
  client/src/components/Settings/SettingsProfile.tsx
  client/src/hooks/use-tauri-extension.tsx
  client/src/pages/Auth/AuthLayout.tsx
  client/src/pages/Auth/index.tsx
  client/src/pages/Home/HomeLayout.tsx
  client/src/routes/AppRoute.tsx
  client/src/routes/components/NotFound/index.tsx
  client/vite.config.ts
Due: frontend-prettier, frontend-eslint, root-prettier

build: bump vite to 4.0.2
  client/package.json
  pnpm-lock.yaml
Due: frontend-prettier, root-prettier

chore: minor changes
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint

build: add vite inspect and bump versions
  client/package.json
  client/pnpm-lock.yaml
  client/vite.config.ts
  pnpm-lock.yaml
Due: frontend-prettier, frontend-eslint, root-prettier

fix: settings component referred in ReactNode
  client/src/apis/todo.ts
  client/src/components/Settings/SettingNav.tsx
  client/src/components/Settings/Settings.tsx
  client/src/components/Settings/SettingsAbout.tsx
  client/src/components/Settings/SettingsNavTabs.tsx
  client/src/components/Settings/SettingsProfile.tsx
  client/src/components/index.ts
  client/src/pages/Home/HomeLayout.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

build: bump @vite/plugin-react to the latest
  client/package.json
  pnpm-lock.yaml
Due: frontend-prettier, root-prettier

feat: settings profile page with profile card
  client/src/components/Settings/SettingsProfile.tsx
Due: frontend-prettier, frontend-eslint

feat: profile settings
  client/src-tauri/tauri.conf.json
  client/src/components/Settings/Settings.tsx
  client/src/components/Settings/SettingsProfile.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

build: vite HMR partial accept
  client/src/apis/auth.ts
  client/src/apis/event.ts
  client/src/apis/http.tsx
  client/src/apis/todo.ts
  client/vite.config.ts
Due: frontend-prettier, frontend-eslint, root-prettier

fix: add shortcuts in settings
  client/src/components/Settings/SettingsNavTabs.tsx
  client/src/components/Settings/SettingsProfile.tsx
  client/src/components/Settings/SettingsShortcuts.tsx
  client/src/components/index.ts
Due: frontend-prettier, frontend-eslint, root-prettier

fix: vite hmr const export issue
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/hooks/user-user.tsx
  client/src/utils/common.ts
  client/src/utils/regex.ts
Due: frontend-prettier, frontend-eslint, root-prettier

fix: vite hmr
  client/src/apis/auth.ts
  client/src/apis/event.ts
  client/src/apis/http.tsx
  client/src/apis/todo.ts
  client/src/components/Settings/SettingsNavTabs.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/hooks/user-user.tsx
  client/src/utils/classy-components.tsx
  client/src/utils/common.ts
Due: frontend-prettier, frontend-eslint, root-prettier

fix: vite hmr
  client/src/apis/auth.ts
Due: frontend-prettier, frontend-eslint, root-prettier

fix: vite hmr
  client/.prettierrc.js
  client/src/components/Heros/SocialIcons.tsx
  client/src/components/Settings/SettingNav.tsx
  client/src/components/Settings/SettingsNavTabs.tsx
  client/src/components/Settings/SettingsProfile.tsx
  client/src/components/Todo/TodoInput.tsx
Due: frontend-prettier, frontend-eslint, root-prettier

fix: weird exports
  client/src/components/Settings/SettingNav.tsx
  client/src/components/Settings/Settings.tsx
  client/src/components/Settings/SettingsNavTabs.tsx
  client/src/components/index.ts
Due: frontend-prettier, frontend-eslint, root-prettier

fix: weird vite hmr `export const = ` bug
  client/src/apis/auth.ts
  client/src/apis/event.ts
  client/src/apis/todo.ts
  client/src/components/Settings/Settings.tsx
  client/src/hooks/use-event.tsx
  client/src/hooks/use-todo.tsx
  client/src/hooks/user-user.tsx
  client/src/utils/classy-components.tsx
  client/src/utils/common.ts
  client/src/utils/regex.ts
Due: frontend-prettier, frontend-eslint, root-prettier

Path conditions:
  frontend-prettier: any of: *.{js,ts,jsx,tsx,scss,css,json,md,yml,yaml} and ^client/
  frontend-eslint: any of: *.{js,ts,jsx,tsx} and ^client/
  frontend-stylelint: any of: *.{scss,css} and ^client/
  backend-prettier: any of: *.{ts,js,json,md,yml,yaml} and ^server/
  backend-eslint: any of: *.{ts,js} and ^server/
  root-prettier: any of: *.{js,ts,json,yml,yaml}
