Repository jukrb0x/taskhorizon: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-all, eslint-frontend, stylelint-frontend

prettier-all:
  run: pnpm prettier --write {staged_files}

eslint-frontend:
  tag: frontend
  run: pnpm eslint --fix {staged_files}

stylelint-frontend:
  tag: frontend
  run: pnpm stylelint --fix

okkkk
  .husky/commit-msg.old
  .husky/common.sh
  .husky/pre-commit
  .husky/pre-commit.old
  .husky/pre-push
  .husky/prepare-commit-msg
  client/.stylelintignore
  client/src/components/Todo/components/Input.tsx
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier-all, eslint-frontend

test
  .husky/commit-msg.old
  .husky/common.sh
  .husky/pre-commit
  .husky/pre-commit.old
  .husky/pre-push
  .husky/prepare-commit-msg
  client/src/components/Todo/components/Input.tsx
  package.json
  pnpm-lock.yaml
Due: prettier-all, eslint-frontend

test
  client/src/components/Todo/components/Input.tsx
  lefthook.yml
Due: prettier-all, eslint-frontend

wip: todo - fix lefthook for monorepo
  client/src/components/Todo/components/Input.tsx
  lefthook.yml
Due: prettier-all, eslint-frontend

wip: restructure
  .gitignore
  README.md
  client/package.json
  lefthook.yml
  package.json
  tsconfig.json
  turbo.json
Due: none

add server
  server/.barrelsby.json
  server/.dockerignore
  server/.env
  server/.eslintignore
  server/.eslintrc
  server/.gitignore
  server/.husky/.gitignore
  server/.husky/post-commit
  server/.husky/pre-commit
  server/.lintstagedrc.json
  server/.prettierignore
  server/.prettierrc
  server/Dockerfile
  server/docker-compose.yml
  server/package.json
  server/pnpm-lock.yaml
  server/prisma/schema.prisma
  server/processes.config.js
  server/src/Server.ts
  server/src/bin/HelloCommand.ts
  server/src/bin/index.ts
  server/src/config/envs/index.ts
  server/src/config/index.ts
  server/src/config/logger/index.ts
  server/src/controllers/pages/IndexController.ts
  server/src/controllers/pages/index.ts
  server/src/controllers/rest/HelloWorldController.ts
  server/src/controllers/rest/index.ts
  server/src/index.ts
  server/tsconfig.compile.json
  server/tsconfig.json
  server/views/swagger.ejs
Due: prettier-all

Create pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

docs: update
  README.md
Due: none

fix: update lockfiles
  client/pnpm-lock.yaml
  server/package.json
  server/pnpm-lock.yaml
Due: none

docs: updates
  README.md
Due: none

fix: update dockerfile
  server/.barrelsby.json
  server/.lintstagedrc.json
  server/.prettierrc
  server/Dockerfile
  server/README.md
  server/docker-compose.yml
  server/package.json
  server/pnpm-lock.yaml
  server/prisma/schema.prisma
  server/processes.config.js
  server/src/Server.ts
  server/src/bin/HelloCommand.ts
  server/src/bin/index.ts
  server/src/config/envs/index.ts
  server/src/config/index.ts
  server/src/config/logger/index.ts
  server/src/controllers/pages/IndexController.ts
  server/src/controllers/pages/index.ts
  server/src/controllers/rest/HelloWorldController.ts
  server/src/controllers/rest/index.ts
  server/src/index.ts
  server/tsconfig.compile.json
  server/tsconfig.json
Due: prettier-all

build: fixed tsed version
  server/package.json
  server/pnpm-lock.yaml
Due: none

fix: pnpm build
  server/package.json
  server/pnpm-lock.yaml
  server/src/controllers/pages/IndexController.ts
Due: prettier-all

fix: database prototyping
  server/.env
  server/prisma/schema.prisma
Due: none

wip: database seeding
  server/.eslintrc
  server/package.json
  server/prisma/seed.ts
  server/src/index.ts
Due: prettier-all

feat: db prototyping
  server/package.json
  server/prisma/schema.prisma
  server/prisma/seed.ts
Due: prettier-all

wip: prisma generator
  server/prisma/.gitignore
  server/prisma/migrations/20221208153942_init/migration.sql
  server/prisma/migrations/migration_lock.toml
  server/prisma/schema.prisma
Due: none

wip: generator
  server/src/client/index.ts
  server/src/controllers/pages/index.ts
  server/src/controllers/rest/index.ts
  server/src/enums/index.ts
  server/src/interfaces/index.ts
  server/src/models/EventModel.ts
  server/src/models/TodoModel.ts
  server/src/models/UserModel.ts
  server/src/models/index.ts
  server/src/repositories/EventsRepository.ts
  server/src/repositories/TodosRepository.ts
  server/src/repositories/UsersRepository.ts
  server/src/repositories/index.ts
  server/src/services/PrismaService.ts
Due: prettier-all

wip: generator
  server/prisma/migrations/20221208155812_init/migration.sql
  server/prisma/schema.prisma
  server/src/models/EventModel.ts
  server/src/models/TodoModel.ts
  server/src/models/UserModel.ts
Due: prettier-all

workflow: config monorepo lefthook
  .lefthook/commit-msg/commitlint.sh
  .prettierignore
  .prettierrc.js
  client/.prettierrc.js
  client/.prettierrc.json
  commitlint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier-all, eslint-frontend

workflow: monorepo
  .npmrc
  client/commitlint.config.js
  client/package.json
  client/tsconfig.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier-all, eslint-frontend

fix: update db schema and generator
  server/prisma/schema.prisma
  server/src/models/UserModel.ts
Due: prettier-all

build: turbo monorepo config
  lefthook.yml
  package.json
  server/package.json
  turbo.json
Due: none

chore: :hammer: remove redundant
  .gitignore
  .turbo/turbo-build.log
Due: none

build: update hook
  lefthook.yml
Due: none

workflow: backend lint with hooks
  lefthook.yml
  server/.eslintrc
  server/prisma/seed.ts
  server/src/bin/HelloCommand.ts
  server/src/client/index.ts
  server/src/controllers/pages/index.ts
  server/src/controllers/rest/index.ts
  server/src/enums/index.ts
  server/src/interfaces/index.ts
  server/src/models/EventModel.ts
  server/src/models/TodoModel.ts
  server/src/models/UserModel.ts
  server/src/models/index.ts
  server/src/repositories/EventsRepository.ts
  server/src/repositories/TodosRepository.ts
  server/src/repositories/UsersRepository.ts
  server/src/repositories/index.ts
  server/src/services/PrismaService.ts
Due: prettier-all

build: override module
  .npmrc
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: ignore lockfiles
  .prettierignore
Due: none

wip: auth
  client/src/components/Popover/index.tsx
  client/src/pages/Auth/index.tsx
  client/src/pages/Calendar/index.tsx
  client/src/pages/Home/index.tsx
  client/src/routes/AppRoute.tsx
  lefthook.yml
  package.json
Due: prettier-all, eslint-frontend

wip: auth
  pnpm-lock.yaml
  server/package.json
  server/prisma/migrations/20221209060944_init/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/rest/AuthController.ts
  server/src/controllers/rest/index.ts
  server/src/models/UserModel.ts
Due: prettier-all

chore: minor changes
  server/src/Server.ts
Due: prettier-all

wip: express session
  pnpm-lock.yaml
  server/.eslintrc
  server/package.json
  server/prisma/migrations/20221209071658_init/migration.sql
  server/prisma/schema.prisma
  server/prisma/seed.ts
  server/src/Server.ts
  server/src/config/index.ts
  server/src/controllers/rest/AuthController.ts
  server/src/controllers/rest/HelloWorldController.ts
  server/src/models/UserModel.ts
  server/tsconfig.json
Due: prettier-all

wip(auth): basic auth strategy
  pnpm-lock.yaml
  server/package.json
  server/src/Server.ts
  server/src/controllers/protocols/BasicProtocol.ts
  server/src/controllers/rest/HelloWorldController.ts
Due: prettier-all

feat(auth): basic protocol
  pnpm-lock.yaml
  server/package.json
  server/prisma/schema.prisma
  server/prisma/seed.ts
  server/src/Server.ts
  server/src/config/index.ts
  server/src/controllers/protocols/BasicProtocol.ts
  server/src/controllers/rest/HelloWorldController.ts
  server/src/models/UserModel.ts
  server/src/protocols/BasicProtocol.ts
  server/src/protocols/index.ts
Due: prettier-all

refactor: auto barrelsby for protocols
  server/.barrelsby.json
  server/src/protocols/BasicProtocol.ts
  server/src/protocols/index.ts
Due: prettier-all

wip: jwt
  pnpm-lock.yaml
  server/package.json
  server/src/Server.ts
  server/src/controllers/rest/AuthController.ts
  server/src/controllers/rest/HelloWorldController.ts
  server/src/protocols/BasicProtocol.ts
  server/src/protocols/JwtProtocol.ts
  server/src/protocols/index.ts
  server/src/services/UserService.ts
Due: prettier-all

wip: abstraction of jwt auth decorator
  server/src/Server.ts
  server/src/controllers/rest/HelloWorldController.ts
  server/src/decorators/JwtAuth.ts
  server/src/protocols/JwtProtocol.ts
  server/src/spec/specOS3.ts
Due: prettier-all

Path conditions:
  prettier-all: any of: *.{js,ts,jsx,tsx,scss,css}
  eslint-frontend: any of: *.{js,ts,jsx,tsx} and ^client/
  stylelint-frontend: any of: *.{scss,css} and ^client/
